<header>
  <h1><img src="/assets/logo-full.png" alt="Inflated Arrangements"></h1>
</header>

<main class="body body-home">
  <p class="center">Serving York, PA and the surrounding areas.</p>

  <img class='product-image' src='<%= @photo.image.url %>' alt=''>

  <p>Balloon decorations are a great addition to any occassion and are sure to be enjoyed by people of all ages. From birthday parties to corporate events, holiday parties to fundraisers; we'll work with you to create the perfect arrangement for any event.</p>

  <div class="action-set">
    <a class="action" href="/contact">Book your event now</a>
    <span class="or">or</span>
    <a class="action" href="/photos">Browse our gallery</a>
  </div>

  <!-- TODO: featured images -->

  <div class="links">
    <a href="/contact">Contact Us</a>
    <span><%= render "shared/facebook_follow" %></span>
  </div>
</div>
