<% content_for :title, 'Customer Messages' %>

<div class="labeled-value">Name: <%= @customer_message.name %></div>
<div class="labeled-value">Email: <%= @customer_message.email %></div>
<div class="labeled-value">Subject: <%= @customer_message.subject %></div>
<div><%= @customer_message.message %></div>
