<% content_for :title, 'Photo Gallery' %>

<div class='thumbnails'>
  <% @photos.each do |photo| %>
    <%= link_to (
      if photo.products.count == 1
        product_path(photo.products.first, { photo: photo })
      else
        photo
      end
    ) do %>
      <img class='thumbnail' src='<%= photo.image.url %>' alt='<%= photo.description %>'>
    <% end %>
  <% end %>
</div>

<hr>

<p>Looking for something else? <a href="/contact">Contact us</a> for a custom decoration and we'll work with you to create the perfect arrangement for any event.</p>
