<% content_for :title, 'About Us' %>

<p>Inflated Arrangements provides balloon decorations and balloon twisting in South Central Pennsylvania (York, Harrisburg, Lancaster, Gettysburg, Mechanicsburg, Hershey, Carlisle, Dillsburg, Camp Hill) and the surrounding areas. However, we do travel all over for larger events. We entertain and decorate corporate events, school events, weddings, parties for all ages, community events, and more. <a href="/contact">Contact us</a> to book your event today.</p>

<img src="/assets/columns.png" alt="" class="short-image">

<div id="faq">
  <h2><abbr title="Frequently Asked Questions">FAQ</abbr> & Interesting Facts</h2>

  <h3>Notice about outdoor decorations</h3>

  <p>We use professional quality balloons and equipment to deliver the best products to our clients. However, due to the nature of balloons, we cannot guarantee outdoor balloon decor. Strong forces of nature can degrade the quality of the balloons, resulting in loss of shine, deflation, or even popping. We have decorated many outdoor events with great success and will work with you to ensure the best possible decor for your event!</p>

  <h3>Do you provide onsite consultations?</h3>

  <p>Yes, we provide onsite consultations for $75. When you book your event, the consultation fee will be applied to your retainer. Phone and email consultations are free.</p>

  <h3>When do you deliver and how much set up time is needed?</h3>

  <p>Typically, delivery is the same day as the event, though depending on the time and location, delivery may occur the day before. Set up time depends on the specific decorations and range from a few minutes to several hours. We will discuss the requirements for your specific event during consultation or booking.</p>

  <h3>What is your delivery and striking fee?</h3>

  <p>Delivery and striking fees depend on the decorations used, location of the event, and time of day for delivery and striking. Not all decorations require us to return for striking. Most deliveries within the York, PA area are free.</p>

  <h3>Can I keep my decorations after my event?</h3>

  <p>You may keep certain decorations. Some decorations require reusable parts, which will be collected at the end of the event. Some decorations are just too big for our customers to take away from the venue (not a problem if your event is at your house). If there are specific decorations that you'd like to keep, let us know during your consultation or booking, so we can take that into account.</p>

  <h3>What is your cancellation policy?</h3>

  <p>If an event is cancelled at least four weeks out, any retainer that has been paid will be refunded. If an event is cancelled within four weeks of the event, the retainer will be converted to credit. If an event is cancelled within 48 hours of the event, full payment is due, but the full amount minus already incurred expenses will be converted to credit. Credit  may be used for a rescheduled or future event within one year of the original event date.</p>

  <h3>Latex balloons are 100% biodegradable</h3>

  <p>Latex balloons are made from 100% natural latex, which is harvested from rubber trees. They decompose as fast as an oak leaf and the harvesting process discourages deforestation because rubber trees produce latex for 40 years. For this reason, latex balloon releases are safe, as long as they do not have other non-biodegradable items added, such as curling ribbons.</p>
</div>
