html {
  min-height: 100%;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #494a4d;
}

body {
  background: url(/assets/gradient.jpg) bottom right no-repeat,
    url(/assets/bg-faded.jpg) top left repeat;
  margin: 1rem 1rem 2rem 1rem;
}

main {
  margin: 0 auto;
  max-width: 50rem;
}

footer {
  margin-top: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 0 2rem 0;
}

h2 {
  margin: 1rem 0;
}

p {
  line-height: 1.5
}

a,
a:link,
a:visited {
  color: #a37fa2;
  transition: 0.5s;
}

a:hover,
a:active {
  color: #479b45;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li:before {
  content: "🎈";
  position: relative;
  left: -0.5rem;
}

.flex {
  display: flex;
}

.main-column {
  flex: 1 1 100%;
  margin-left: 1rem;
}

.sidebar {
  order: -1;
  flex: 0 0 8rem;
  text-align: center;

  a {
    display: block;
    margin-bottom: 1rem;
  }
}

.sidebar-logo {
  width: 100%;
  margin-bottom: 0.5rem;
}

.links {
  margin-top: 2rem;
  text-align: center;
}

.links > * {
  padding: 0 0.5rem;
  border-left: 1px solid #a37fa2;

  &:first-child {
    border-left: none;
  }
}

.action-set {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action {
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  background-color: #a37fa2;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  clear: both;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }
}

.or {
  text-transform: uppercase;
  color: #a37fa2;
  margin: 0.5rem 0;
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    border-top: 2px solid #a37fa2;
    position: absolute;
    top: 50%;
    width: 2rem;
  }

  &:before {
    left: -2.5rem;
  }

  &:after {
    right: -2.5rem;
  }
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #fbb;
}

label {
  margin-top: 0.5rem;
  display: inline-block;

  &:first-child {
    margin-top: 0;
  }

  &.required:after {
    content: '(required)';
    color: #f00;
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
}

.field_with_errors {
  margin-top: 0.5rem;

  &:first-child {
    margin-top: 0;
  }
}

input,
select {
  width: 100%;
  max-width: 20rem;
  font-size: 1rem;
}

textarea {
  width: 100%;
  height: 10rem;
  font-size: 1rem;
}

button {
  margin-top: 1rem;
}

.labeled-value {
  margin: 0.5rem 0;
}

.errors {
  width: 25rem;
  margin: 0 auto 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #fbb;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.media-container {
  display: flex;
  margin: 1rem 0;
}

.media-element {
  width: 14rem;
  height: 100%;
}

.media-info {
  flex-grow: 1;
  margin-left: 1rem;

  > :first-child {
    margin-top: 0;
  }
}

.product-image {
  display: block;
  max-height: 20rem;
  margin: 0 auto 1rem auto;
}

.category {
  font-size: 0.8rem;
  background-color: #479b45;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  clear: both;
  transition: 0.5s;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
    text-decoration: none;
  }

  &:hover,
  &:active {
    background-color: #23408f;
  }
}

.category-listing li {
  margin-bottom: 1em;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;

  a {
    margin: 0 1rem 1rem 0;
  }
}

.thumbnail {
  height: 10rem;
}

// From H5BP
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

html .facebook-follow {
  display: inline-block;
  height: 23px;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid #4267b2;
  background: #4267b2;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  .facebook-follow-logo {
    position: relative;
    top: 3px;
    left: -3px;
    height: 16px;
    width: 16px;
  }
}

hr {
  margin: 1rem 0;
  height: 0.15rem;
  border: none;
  background: url(/assets/gradient.jpg) bottom right no-repeat;
}
