html {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 125%;
  color: $black;

  // The document needs to be at least as tall as the viewport so that the
  // body's background, which is aligned to the bottom, is never floating
  // in the middle of the screen.
  min-height: 100%;
}

body {
  background: url(/assets/gradient.jpg) bottom right no-repeat,
    url(/assets/bg-faded.jpg) top left repeat;
  margin: 1rem 1rem 2rem 1rem;
}

.body {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;

  @include large {
    flex-direction: row;
  }

  &.body-home {
    display: block;
  }
}

main {
  margin: 0 auto;
  max-width: 50rem;
  flex-direction: column-reverse;
  flex: 1 1 100%;

  @include large {
    margin-left: 1rem;
  }
}

footer {
  margin-top: 1rem;
  text-align: center;
}

h1 {
  text-align: center;
  margin: 0 0 2rem 0;
}

h1 img {
  max-width: 100%;
}

h2 {
  margin: 1rem 0;
}

p {
  line-height: 1.5
}

a,
a:link,
a:visited {
  color: $purple;
  transition: 0.5s;
}

a:hover,
a:active {
  color: $green;
}

hr {
  margin: 1rem 0;
  height: 0.15rem;
  border: none;
  background: url(/assets/gradient.jpg) bottom right no-repeat;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li:before {
  content: "🎈";
  position: relative;
  left: -0.5rem;
}

table {
  width: 100%;
  border: 1px solid $black;
  border-collapse: collapse;
  margin: 1rem 0;
}

tr {
  border: 1px solid $black;
}

th, td {
  padding: 0.2rem 0.5rem;
  text-align: left;
}

.jump {
  display: block;
  margin: 0.5rem auto;
  font-size: 0.75rem;
  text-align: center;

  @include large {
    display: none;
  }
}

#navigation-jump {
  margin-top: -0.5rem;
}

#navigation {
  order: -1;
  flex: 0 0 8rem;
  text-align: center;

  a {
    display: block;
    margin-bottom: 1rem;
  }
}

.links {
  margin-top: 2rem;
  text-align: center;
}

.links > * {
  padding: 0 0.5rem;
  border-left: 1px solid $purple;

  &:first-child {
    border-left: none;
  }
}

.action {
  font-family: inherit;
  font-size: inherit;
  color: $white;
  background-color: $purple;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  clear: both;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }
}

.alert {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: $pink;
}

.labeled-value {
  margin: 0.5rem 0;
}

.product-image {
  display: block;
  max-height: 20rem;
  max-width: 100%;
  margin: 0 auto 1rem auto;
}

.category {
  font-size: 0.8rem;
  background-color: $green;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  display: inline-block;
  clear: both;
  transition: 0.5s;

  // The padding and background makes the links look crowded if the list of
  // categories is long enough to wrap to a second line. The margin makes the
  // line spacing look normal.
  margin-bottom: 0.5rem;

  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &:hover,
  &:active {
    background-color: $blue;
  }
}

.category-listing li {
  margin-bottom: 1em;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  a {
    margin-bottom: 1rem;
  }
}

.thumbnail {
  max-height: 10rem;
  max-width: 100%;
}

.customer-messages tbody tr {
  cursor: pointer;
}

// From H5BP
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
