<% content_for :title, "All Products" %>

<% @products.each do |product| %>
  <% info = capture do %>
    <h2><%= link_to product.name, product %></h2>

    <span class="visually-hidden">Categories:</span>
    <% product.tags.each do |tag| %>
      <%= link_to tag.name, tag, class: 'tag' %>
    <% end %>
  <% end %>

  <%=
    render "shared/media_element",
    media: product.primary_photo.image, link: product, info: info
  %>
<% end %>
